.social-main-container {
  background-image: url(https://assets.ccbp.in/frontend/react-js/social-buttons-bg.png);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
.heading {
  color: aliceblue;
  font-weight: bold;
  text-align: center;
}
.like-button {
  background-color: #eab308;
}
.share-button {
  background-color: blue;
}
@media (max-width: 576px) {
  .buttons-container {
    display: flex;
    flex-direction: column;
  }
}
